In [195]:
import json
import numpy as np
import pandas as pd
import countryflag

In [2]:
with open('./azar_apply.json') as f:
    data = json.load(f)

In [3]:
data.keys()

dict_keys(['name', 'type', 'id', 'messages'])

In [4]:
df = pd.DataFrame(i for i in data['messages'])

In [5]:
df.drop(columns=['poll', 'reply_to_message_id', 'duration_seconds', 'media_type', 'thumbnail', \
                 'forwarded_from', 'height', 'width', 'photo', 'mime_type', 'action', 'actor_id', \
                'file', 'from', 'message_id', 'title', 'actor', 'from_id', 'edited', 'edited_unixtime', 'date_unixtime', 'id'],
inplace=True)

In [6]:
df = df[df['type'] == 'message']

In [7]:
df

,type,date,text,text_entities
2,message,2019-02-26T02:47:34,[ğŸ’¯ Ú¯Ø±ÙˆÙ‡ Ø¢Ø°Ø±Ø§Ù¾Ù„Ø§ÛŒ ÙØ±ØµØª ÙˆÛŒÚ˜Ù‡ Ø±Ø§ Ø¨Ø±Ø§ÛŒ Ø¯Ø§ÙˆØ·Ù„Ø¨Ø§Ù† Ø§...,"[{'type': 'plain', 'text': 'ğŸ’¯ Ú¯Ø±ÙˆÙ‡ Ø¢Ø°Ø±Ø§Ù¾Ù„Ø§ÛŒ Ù..."
3,message,2019-02-28T19:50:06,[ğŸ’ØªØ§Ø±ÛŒØ® Ø¢Ø²Ù…ÙˆÙ† ÛŒÙˆØ³ Û²Û°Û±Û¹ Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ø¯ÙˆÙ„ØªÛŒ ÙÛŒØ±Ø§Øª Ø´Ù‡Ø±...,"[{'type': 'plain', 'text': 'ğŸ’ØªØ§Ø±ÛŒØ® Ø¢Ø²Ù…ÙˆÙ† ÛŒÙˆØ³ Û²..."
4,message,2019-02-28T19:52:13,"[Ù†Ù…ÙˆÙ†Ù‡ Ø³ÙˆØ§Ù„Ø§Øª Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ ÙÛŒØ±Ø§Øª \n, {'type': 'ment...","[{'type': 'plain', 'text': 'Ù†Ù…ÙˆÙ†Ù‡ Ø³ÙˆØ§Ù„Ø§Øª Ø¯Ø§Ù†Ø´Ú¯..."
5,message,2019-03-04T18:28:09,[â­•ï¸â­•ï¸Ù„ÛŒØ³Øª Ø¬Ø¯ÛŒØ¯ Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ ØªØ§ÛŒÛŒØ¯ ÙˆØ²Ø§Ø±Øª Ø¹Ù„ÙˆÙ…...,"[{'type': 'plain', 'text': 'â­•ï¸â­•ï¸Ù„ÛŒØ³Øª Ø¬Ø¯ÛŒØ¯ Ø¯Ø§Ù†Ø´..."
6,message,2019-03-07T12:58:03,[â›”ï¸ØªØºÙŠÙŠØ± Ø³Ø§Ø¹Øª Ø§Ø²Ù…ÙˆÙ† Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ø§ØªØ§ØªÙˆØ±Ùƒ\n\nØ²Ù…Ø§Ù† Ø§Ø²...,"[{'type': 'plain', 'text': 'â›”ï¸ØªØºÙŠÙŠØ± Ø³Ø§Ø¹Øª Ø§Ø²Ù…ÙˆÙ†..."
...,...,...,...,...
8642,message,2024-01-28T16:59:59,"[ğŸ‡¦ğŸ‡¹ PhD Position, Austrian Center for Medical ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡¹ PhD Position, A..."
8643,message,2024-01-28T17:42:13,"[ğŸ‡ºğŸ‡¸ PhD Position, North Carolina A&T State Uni...","[{'type': 'plain', 'text': 'ğŸ‡ºğŸ‡¸ PhD Position, N..."
8644,message,2024-01-28T17:57:45,"[ğŸ‡¨ğŸ‡¦ Postdoctoral Position, University of Briti...","[{'type': 'plain', 'text': 'ğŸ‡¨ğŸ‡¦ Postdoctoral Po..."
8645,message,2024-01-28T18:01:47,"[ğŸ‡¦ğŸ‡º Postdoctoral Position, Monash University, ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡º Postdoctoral Po..."
8646,message,2024-01-29T08:48:49,"[ğŸ‡¦ğŸ‡º PhD Position, UNSW, Australia \n\n- Civil ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡º PhD Position, U..."

In [8]:
del df['type']

In [9]:
df

,date,text,text_entities
2,2019-02-26T02:47:34,[ğŸ’¯ Ú¯Ø±ÙˆÙ‡ Ø¢Ø°Ø±Ø§Ù¾Ù„Ø§ÛŒ ÙØ±ØµØª ÙˆÛŒÚ˜Ù‡ Ø±Ø§ Ø¨Ø±Ø§ÛŒ Ø¯Ø§ÙˆØ·Ù„Ø¨Ø§Ù† Ø§...,"[{'type': 'plain', 'text': 'ğŸ’¯ Ú¯Ø±ÙˆÙ‡ Ø¢Ø°Ø±Ø§Ù¾Ù„Ø§ÛŒ Ù..."
3,2019-02-28T19:50:06,[ğŸ’ØªØ§Ø±ÛŒØ® Ø¢Ø²Ù…ÙˆÙ† ÛŒÙˆØ³ Û²Û°Û±Û¹ Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ø¯ÙˆÙ„ØªÛŒ ÙÛŒØ±Ø§Øª Ø´Ù‡Ø±...,"[{'type': 'plain', 'text': 'ğŸ’ØªØ§Ø±ÛŒØ® Ø¢Ø²Ù…ÙˆÙ† ÛŒÙˆØ³ Û²..."
4,2019-02-28T19:52:13,"[Ù†Ù…ÙˆÙ†Ù‡ Ø³ÙˆØ§Ù„Ø§Øª Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ ÙÛŒØ±Ø§Øª \n, {'type': 'ment...","[{'type': 'plain', 'text': 'Ù†Ù…ÙˆÙ†Ù‡ Ø³ÙˆØ§Ù„Ø§Øª Ø¯Ø§Ù†Ø´Ú¯..."
5,2019-03-04T18:28:09,[â­•ï¸â­•ï¸Ù„ÛŒØ³Øª Ø¬Ø¯ÛŒØ¯ Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ ØªØ§ÛŒÛŒØ¯ ÙˆØ²Ø§Ø±Øª Ø¹Ù„ÙˆÙ…...,"[{'type': 'plain', 'text': 'â­•ï¸â­•ï¸Ù„ÛŒØ³Øª Ø¬Ø¯ÛŒØ¯ Ø¯Ø§Ù†Ø´..."
6,2019-03-07T12:58:03,[â›”ï¸ØªØºÙŠÙŠØ± Ø³Ø§Ø¹Øª Ø§Ø²Ù…ÙˆÙ† Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ø§ØªØ§ØªÙˆØ±Ùƒ\n\nØ²Ù…Ø§Ù† Ø§Ø²...,"[{'type': 'plain', 'text': 'â›”ï¸ØªØºÙŠÙŠØ± Ø³Ø§Ø¹Øª Ø§Ø²Ù…ÙˆÙ†..."
...,...,...,...
8642,2024-01-28T16:59:59,"[ğŸ‡¦ğŸ‡¹ PhD Position, Austrian Center for Medical ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡¹ PhD Position, A..."
8643,2024-01-28T17:42:13,"[ğŸ‡ºğŸ‡¸ PhD Position, North Carolina A&T State Uni...","[{'type': 'plain', 'text': 'ğŸ‡ºğŸ‡¸ PhD Position, N..."
8644,2024-01-28T17:57:45,"[ğŸ‡¨ğŸ‡¦ Postdoctoral Position, University of Briti...","[{'type': 'plain', 'text': 'ğŸ‡¨ğŸ‡¦ Postdoctoral Po..."
8645,2024-01-28T18:01:47,"[ğŸ‡¦ğŸ‡º Postdoctoral Position, Monash University, ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡º Postdoctoral Po..."
8646,2024-01-29T08:48:49,"[ğŸ‡¦ğŸ‡º PhD Position, UNSW, Australia \n\n- Civil ...","[{'type': 'plain', 'text': 'ğŸ‡¦ğŸ‡º PhD Position, U..."

In [10]:
'PhD' in df['text'][8642][0]

True

In [11]:
positions = []
x = []
for msg in df['text']:
    try:
        if 'Position' in msg[0]:
            # print(msg)
            # print(pd.Series(msg))
            positions.append(msg)
            # print(positions)
    except:
        x.append(msg)

In [12]:
len(positions)

1569

In [13]:
len(x)

252

In [14]:
positions = pd.DataFrame(positions)

In [15]:
emails = pd.DataFrame([*positions[1]])

In [16]:
emails

         type                                               text href
0     hashtag                                       #Ø¢Ù…ÙˆØ²Ø´_Ø§Ù¾Ù„Ø§ÛŒ  NaN
1     hashtag                                       #Ø¢Ù…ÙˆØ²Ø´_Ø§Ù¾Ù„Ø§ÛŒ  NaN
2       email                                  yiwang@cec.sc.edu  NaN
3     hashtag                                            #Ù…Ú©Ø§Ù†ÛŒÚ©  NaN
4     hashtag                                          #Ú©Ø§Ù…Ù¾ÛŒÙˆØªØ±  NaN
...       ...                                                ...  ...
1564    email                     sepideh.hatamikia@dp-uni.ac.at  NaN
1565    email                              asadeghkhani@ncat.edu  NaN
1566     link                           https://lnkd.in/g7_zR-23  NaN
1567     bold               Organic/Organometallic Chemistry\n\n  NaN
1568     link  https://azarapply.ir/blog/%D9%BE%D9%88%D8%B2%D...  NaN

[1569 rows x 3 columns]

In [17]:
del emails['href']

In [18]:
emails = emails[emails['type'] == 'email']

In [19]:
emails

       type                            text
2     email               yiwang@cec.sc.edu
9     email      berrak.sisman@utdallas.edu
13    email          mzeinali@laurentian.ca
16    email                  huilin@uri.edu
21    email  charlene.boumendil@igh.cnrs.fr
...     ...                             ...
1525  email               samori@unistra.fr
1553  email                mtaheri@tamu.edu
1555  email               mabdalah@ieee.org
1564  email  sepideh.hatamikia@dp-uni.ac.at
1565  email           asadeghkhani@ncat.edu

[254 rows x 2 columns]

In [20]:
positions = positions[0]

In [21]:
positions = pd.DataFrame(positions)

In [22]:
positions['text'] = positions[0]

In [23]:
del positions[0]

In [24]:
positions

                                                   text
0     âœ… Ø§ØµØ·Ù„Ø§Ø­Ø§Øª Ø§Ù¾Ù„Ø§ÛŒ\n\nğŸ‘‰ Scholarship, Fund, Grant...
1     âœ… Ø§ØµØ·Ù„Ø§Ø­Ø§Øª Ø§Ù¾Ù„Ø§ÛŒ\n\nğŸ‘‰ Scholarship, Fund, Grant...
2     ğŸ‡ºğŸ‡¸ Ù¾ÙˆØ²ÛŒØ´Ù† Ø§Ø±Ø´Ø¯ØŒ Ø¯Ú©ØªØ±ÛŒ Ùˆ Ù¾Ø³Øª Ø¯Ø§Ú© Ø¯Ø± Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ú©Ø§Ø±...
3               ğŸ‡¨ğŸ‡­ PhD Position, ETH Switzerland\n\nâ˜‘ï¸
4     ğŸ‡©ğŸ‡ª Research Associate Position, University of ...
...                                                 ...
1564  ğŸ‡¦ğŸ‡¹ PhD Position, Austrian Center for Medical I...
1565  ğŸ‡ºğŸ‡¸ PhD Position, North Carolina A&T State Univ...
1566  ğŸ‡¨ğŸ‡¦ Postdoctoral Position, University of Britis...
1567  ğŸ‡¦ğŸ‡º Postdoctoral Position, Monash University, A...
1568  ğŸ‡¦ğŸ‡º PhD Position, UNSW, Australia \n\n- Civil e...

[1569 rows x 1 columns]

In [25]:
positions = positions[2:]

In [26]:
positions = positions.assign(emails=emails['text'])

In [27]:
positions

,text,emails
2,ğŸ‡ºğŸ‡¸ Ù¾ÙˆØ²ÛŒØ´Ù† Ø§Ø±Ø´Ø¯ØŒ Ø¯Ú©ØªØ±ÛŒ Ùˆ Ù¾Ø³Øª Ø¯Ø§Ú© Ø¯Ø± Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ú©Ø§Ø±...,yiwang@cec.sc.edu
3,"ğŸ‡¨ğŸ‡­ PhD Position, ETH Switzerland\n\nâ˜‘ï¸",NaN
4,"ğŸ‡©ğŸ‡ª Research Associate Position, University of ...",NaN
5,"ğŸ‡ºğŸ‡¸ Job Position, USA\n\nâ˜‘ï¸ Power Electrical En...",NaN
6,"ğŸ‡©ğŸ‡ª Research Associate Position, TU Dresden, Ge...",NaN
...,...,...
1564,"ğŸ‡¦ğŸ‡¹ PhD Position, Austrian Center for Medical I...",sepideh.hatamikia@dp-uni.ac.at
1565,"ğŸ‡ºğŸ‡¸ PhD Position, North Carolina A&T State Univ...",asadeghkhani@ncat.edu
1566,"ğŸ‡¨ğŸ‡¦ Postdoctoral Position, University of Britis...",NaN
1567,"ğŸ‡¦ğŸ‡º Postdoctoral Position, Monash University, A...",NaN
1568,"ğŸ‡¦ğŸ‡º PhD Position, UNSW, Australia \n\n- Civil e...",NaN

In [29]:
with open('./names.json') as f:
    countries = json.load(f)

In [166]:
country_names = list(countries.values())

In [167]:
len(country_names)

250

In [ ]:
country_flags = countryflag.getflag([word])

In [159]:
positions['country'] = pd.Series(np.zeros(len(positions)))

In [203]:
def country_checker(text):
    words = text.split()
    for word in words:
        if word in country_flags:
            return word
        elif word in country_names:
            return countryflag.getflag([word])

In [204]:
positions['country'] = positions['text'].transform(country_checker)

In [206]:
positions.head(30)

,text,emails,country
2,ğŸ‡ºğŸ‡¸ Ù¾ÙˆØ²ÛŒØ´Ù† Ø§Ø±Ø´Ø¯ØŒ Ø¯Ú©ØªØ±ÛŒ Ùˆ Ù¾Ø³Øª Ø¯Ø§Ú© Ø¯Ø± Ø¯Ø§Ù†Ø´Ú¯Ø§Ù‡ Ú©Ø§Ø±...,yiwang@cec.sc.edu,ğŸ‡ºğŸ‡¸
3,"ğŸ‡¨ğŸ‡­ PhD Position, ETH Switzerland\n\nâ˜‘ï¸",NaN,ğŸ‡¨ğŸ‡­
4,"ğŸ‡©ğŸ‡ª Research Associate Position, University of ...",NaN,ğŸ‡©ğŸ‡ª
5,"ğŸ‡ºğŸ‡¸ Job Position, USA\n\nâ˜‘ï¸ Power Electrical En...",NaN,ğŸ‡ºğŸ‡¸
6,"ğŸ‡©ğŸ‡ª Research Associate Position, TU Dresden, Ge...",NaN,ğŸ‡©ğŸ‡ª
7,ğŸ‡ºğŸ‡¸ PhD Student Position in Eco-Immunology â€“ Un...,NaN,ğŸ‡ºğŸ‡¸
8,"ğŸ‡ºğŸ‡¸ Postdoc positions, Arizona State University...",NaN,ğŸ‡ºğŸ‡¸
9,"ğŸ‡ºğŸ‡¸ PhD Position, The University of Texas at Da...",berrak.sisman@utdallas.edu,ğŸ‡ºğŸ‡¸
10,"ğŸ‡ºğŸ‡¸ PhD Position, Department of Civil and Envir...",NaN,ğŸ‡ºğŸ‡¸
11,"ğŸ‡¨ğŸ‡¦ PhD/PostDoc Positions, Laval University Can...",NaN,ğŸ‡¨ğŸ‡¦
12,"ğŸ‡¨ğŸ‡­ğŸ‡®ğŸ‡¹ PhD and PostDoc Positions, University of ...",NaN,None
13,"ğŸ‡¨ğŸ‡¦ PhD position, Laurentian University, Canada...",mzeinali@laurentian.ca,ğŸ‡¨ğŸ‡¦
14,"ğŸ‡¦ğŸ‡¹ PhD Position, BOKU-University of Natural Re...",NaN,ğŸ‡¦ğŸ‡¹
15,ğŸ‡¨ğŸ‡­ PhD Position in Precision Proteomics Center...,NaN,ğŸ‡¨ğŸ‡­
16,"ğŸ‡ºğŸ‡¸ PhD position, University of Rhode Island, U...",huilin@uri.edu,ğŸ‡ºğŸ‡¸
17,"ğŸ‡¸ğŸ‡ª Postdoc Position, Umea University, Sweden\n...",NaN,ğŸ‡¸ğŸ‡ª
18,"ğŸ‡¨ğŸ‡¦ PhD Position, University of Windsor, Canada...",NaN,ğŸ‡¨ğŸ‡¦
19,"ğŸ‡ªğŸ‡¸ Researcher Position, Centre for Genomic Reg...",NaN,ğŸ‡ªğŸ‡¸
20,"ğŸ‡ºğŸ‡¸ PhD Position, Arkansas State University, US...",NaN,ğŸ‡ºğŸ‡¸
21,"ğŸ‡«ğŸ‡· Postdoc/Research Assistant Positions, CNRS,...",charlene.boumendil@igh.cnrs.fr,ğŸ‡«ğŸ‡·
22,"ğŸ‡³ğŸ‡´ PhD Position, NTNU, Norway\n\nâ˜‘ï¸ AI and med...",NaN,ğŸ‡³ğŸ‡´
23,"ğŸ‡ºğŸ‡¸ PhD Positions, Penn State University, USA\n...",NaN,ğŸ‡ºğŸ‡¸
24,"ğŸ‡¬ğŸ‡§ PhD Position, Herriot-Watt University, UK\n...",NaN,ğŸ‡¬ğŸ‡§
25,"ğŸ‡ºğŸ‡¸ PhD position, North Eastern University, USA...",j.zhu@northeastern.edu,ğŸ‡ºğŸ‡¸
26,"ğŸ‡¨ğŸ‡¦ MSc Position, University of Northern Britis...",NaN,ğŸ‡¨ğŸ‡¦
27,"ğŸ‡¨ğŸ‡­Two PhD Positions in Dairy Nutrition, ETH, S...",NaN,ğŸ‡¨ğŸ‡­
28,ğŸ‡¨ğŸ‡¦ğŸ‡«ğŸ‡® PhD Position in â€œLinking population genet...,NaN,None
29,ğŸ‡¨ğŸ‡¦ PhD and MSc Positions on â€œAffective & Socia...,NaN,ğŸ‡¨ğŸ‡¦
30,"ğŸ‡¨ğŸ‡¦ Phd Position, Brock University, Canada\n\nâ˜‘...",NaN,ğŸ‡¨ğŸ‡¦
31,ğŸ‡©ğŸ‡ª PhD Position in Neuroscience with a commitm...,NaN,ğŸ‡©ğŸ‡ª

In [207]:
positions['grade'] = pd.Series(np.zeros(len(positions)))

In [219]:
grades = ['Msc', 'Master', 'PhD', 'Postdoctoral', 'Postdoc', 'Research', 'Researcher', 'Job']
def grade_checker(text):
    words = text.split()
    for word in words:
        if word in grades:
            if word in ['Msc', 'Master']:
                return 'Msc'
            if word in ['Postdoctoral', 'Postdoc']:
                return 'Postdoc'
            if word in ['Research', 'Researcher']:
                return 'RA'
            return word

In [226]:
positions['grade'] = positions['text'].transform(grade_checker)

In [228]:
sum(positions['grade'].isna())

296

In [229]:
sum(positions['country'].isna())

18

In [245]:
positions.to_csv('./positions.csv', sep=',', index=False, encoding='utf-8')

In [86]:
def scraping(series):
    result = {
        'PhD': [],
        'Postdoctoral': [],
        'Master': [],
        'Germany': [],
        'Canada': [],
        'Australia': [],
        'USA': [],
        'Switzerland': [],
    }
    for item in series:
        for key in result:
            if key in item:
                result[key].append(item)
    return result

In [88]:
scrp = scraping(positions['text'])

In [89]:
scrap = pd.DataFrame(scrp['PhD'], columns=['PhD'])

In [90]:
for item in scrp:
    scrap[item] = pd.Series(scrp[item])

In [91]:
scrap.to_csv('./clean_data.csv', sep=',', index=False, encoding='utf-8')

In [92]:
scrap

,PhD,Postdoctoral,Master,Germany,Canada,Australia,USA,Switzerland
0,"ğŸ‡¨ğŸ‡­ PhD Position, ETH Switzerland\n\nâ˜‘ï¸",ğŸ‡¨ğŸ‡¦ Postdoctoral Research Fellow Pharmaceutical...,"ğŸ‡ºğŸ‡¸ MSc Positions at the WATER RESOURCES LAB, ...","ğŸ‡©ğŸ‡ª Research Associate Position, University of ...","ğŸ‡¨ğŸ‡¦ PhD/PostDoc Positions, Laval University Can...","ğŸ‡¦ğŸ‡º PhD Positions, University of Technology Syd...","ğŸ‡ºğŸ‡¸ Job Position, USA\n\nâ˜‘ï¸ Power Electrical En...","ğŸ‡¨ğŸ‡­ PhD Position, ETH Switzerland\n\nâ˜‘ï¸"
1,ğŸ‡ºğŸ‡¸ PhD Student Position in Eco-Immunology â€“ Un...,ğŸ‡ºğŸ‡¸ Postdoctoral Position at National Cancer In...,ğŸ‡¦ğŸ‡ª Structural Control Research Associate Posit...,"ğŸ‡©ğŸ‡ª Research Associate Position, TU Dresden, Ge...","ğŸ‡¨ğŸ‡¦ PhD position, Laurentian University, Canada...","ğŸ‡¦ğŸ‡º PhD Positions, University of Sydney, Austra...","ğŸ‡ºğŸ‡¸ Postdoc positions, Arizona State University...","ğŸ‡¨ğŸ‡­Two PhD Positions in Dairy Nutrition, ETH, S..."
2,"ğŸ‡ºğŸ‡¸ PhD Position, The University of Texas at Da...","ğŸ‡¨ğŸ‡¦ Postdoc Position, UBC, Canada\n\nâ˜‘ï¸ Chemica...","ğŸ‡ºğŸ‡¸ PhD/Master positions, Mississippi State Uni...","ğŸ‡©ğŸ‡ª PhD Position, Heidelberg University, German...","ğŸ‡¨ğŸ‡¦ PhD Position, University of Windsor, Canada...","ğŸ‡¬ğŸ‡¸ Postdoc Position, Monash University, Austra...","ğŸ‡ºğŸ‡¸ PhD position, University of Rhode Island, U...","ğŸ‡¨ğŸ‡­ PhD Position, University of NeuchÃ¢tel, Swit..."
3,"ğŸ‡ºğŸ‡¸ PhD Position, Department of Civil and Envir...",ğŸ‡¨ğŸ‡­Postdoctoral Position at EPFL: Nanophotonic ...,"ğŸ‡ºğŸ‡¸ Funded Master position, Oregon State Univer...","ğŸ‡©ğŸ‡ª Ph.D. Positions---in Numerical Analysis, Te...","ğŸ‡¨ğŸ‡¦ MSc Position, University of Northern Britis...","ğŸ‡­ğŸ‡² Fully Funded PhD Positions, Western Sydney ...","ğŸ‡ºğŸ‡¸ PhD Position, Arkansas State University, US...","ğŸ‡¨ğŸ‡­PhD Position, Department of Organic Chemistr..."
4,"ğŸ‡¨ğŸ‡¦ PhD/PostDoc Positions, Laval University Can...","ğŸ‡ºğŸ‡² Postdoc Position, University of Louisville,...",ğŸ‡¨ğŸ‡¦ Postdoc and Graduate Students (Masterâ€™s and...,ğŸ‡©ğŸ‡ª PhD Position in microwave engineering at Un...,ğŸ‡¨ğŸ‡¦ PhD and MSc Positions on â€œAffective & Socia...,"ğŸ‡­ğŸ‡² PhD Position, Edith Cowan University, Austr...","ğŸ‡ºğŸ‡¸ PhD Positions, Penn State University, USA\n...","ğŸ‡¨ğŸ‡­ğŸ‡«ğŸ‡· PhD position, University of Fribourg, UBF..."
...,...,...,...,...,...,...,...,...
1227,"ğŸ‡¨ğŸ‡¦ PhD Position, University of British Columbi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,"ğŸ‡ºğŸ‡¸ PhD Position, University of Tennessee at Ch...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"ğŸ‡¦ğŸ‡¹ PhD Position, Austrian Center for Medical I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,"ğŸ‡ºğŸ‡¸ PhD Position, North Carolina A&T State Univ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,"ğŸ‡¦ğŸ‡º PhD Position, UNSW, Australia \n\n- Civil e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
import flag

In [243]:
flag.flagize('Iran')

'Iran'