In [10]:
import json
import pandas as pd

In [2]:
with open('./azar_apply.json') as f:
    data = json.load(f)

In [4]:
data.keys()

dict_keys(['name', 'type', 'id', 'messages'])

In [25]:
df = pd.DataFrame(i for i in data['messages'])

In [26]:
df.drop(columns=['poll', 'reply_to_message_id', 'duration_seconds', 'media_type', 'thumbnail', \
                 'forwarded_from', 'height', 'width', 'photo', 'mime_type', 'action', 'actor_id', \
                'file', 'from', 'message_id', 'title']
        , inplace=True)

In [34]:
df = df[df['type'] == 'message']

In [371]:
df

,id,type,date,date_unixtime,actor,text,text_entities,edited,edited_unixtime,from_id
2,316,message,2019-02-26T02:47:34,1551136654,NaN,[💯 گروه آذراپلای فرصت ویژه را برای داوطلبان ا...,"[{'type': 'plain', 'text': '💯 گروه آذراپلای ف...",2023-05-19T19:26:40,1684511800,channel1070186312
3,320,message,2019-02-28T19:50:06,1551370806,NaN,[💎تاریخ آزمون یوس ۲۰۱۹ دانشگاه دولتی فیرات شهر...,"[{'type': 'plain', 'text': '💎تاریخ آزمون یوس ۲...",2019-02-28T19:51:44,1551370904,channel1070186312
4,321,message,2019-02-28T19:52:13,1551370933,NaN,"[نمونه سوالات دانشگاه فیرات \n, {'type': 'ment...","[{'type': 'plain', 'text': 'نمونه سوالات دانشگ...",2019-02-28T19:54:15,1551371055,channel1070186312
5,326,message,2019-03-04T18:28:09,1551711489,NaN,[⭕️⭕️لیست جدید دانشگاهای مورد تایید وزارت علوم...,"[{'type': 'plain', 'text': '⭕️⭕️لیست جدید دانش...",2019-03-04T18:31:40,1551711700,channel1070186312
6,327,message,2019-03-07T12:58:03,1551950883,NaN,[⛔️تغيير ساعت ازمون دانشگاه اتاتورك\n\nزمان از...,"[{'type': 'plain', 'text': '⛔️تغيير ساعت ازمون...",NaN,NaN,channel1070186312
...,...,...,...,...,...,...,...,...,...,...
8642,9410,message,2024-01-28T16:59:59,1706448599,NaN,"[🇦🇹 PhD Position, Austrian Center for Medical ...","[{'type': 'plain', 'text': '🇦🇹 PhD Position, A...",2024-01-28T17:00:22,1706448622,channel1070186312
8643,9411,message,2024-01-28T17:42:13,1706451133,NaN,"[🇺🇸 PhD Position, North Carolina A&T State Uni...","[{'type': 'plain', 'text': '🇺🇸 PhD Position, N...",NaN,NaN,channel1070186312
8644,9412,message,2024-01-28T17:57:45,1706452065,NaN,"[🇨🇦 Postdoctoral Position, University of Briti...","[{'type': 'plain', 'text': '🇨🇦 Postdoctoral Po...",NaN,NaN,channel1070186312
8645,9413,message,2024-01-28T18:01:47,1706452307,NaN,"[🇦🇺 Postdoctoral Position, Monash University, ...","[{'type': 'plain', 'text': '🇦🇺 Postdoctoral Po...",NaN,NaN,channel1070186312
8646,9414,message,2024-01-29T08:48:49,1706505529,NaN,"[🇦🇺 PhD Position, UNSW, Australia \n\n- Civil ...","[{'type': 'plain', 'text': '🇦🇺 PhD Position, U...",2024-01-29T08:52:23,1706505743,channel1070186312

In [372]:
df['text'][8642]

["🇦🇹 PhD Position, Austrian Center for Medical Innovation and Technology, Austria \n\n☑️ Medical Imaging \n\n👩\u200d🏫 Dr. Sepideh Hatamikia\n\nIf you are interested in a PhD position in medical image analysis and artificial intelligence, please see below:\n\nPhD position in Medical Imaging\n\nAustrian Center for Medical Innovation and Technology (ACMIT) and Danube Private University Austria (DPU), Krems, Austria are providing a joint PhD researcher position and invites applications for a three-year PhD position in the field of medical imaging and artificial intelligence.The doctoral student is expected to do a\xa0joint PhD under supervision of Ass.-Prof. Dr. Sepideh Hatamikia from DPU,\xa0Dr. med habil Monika Csoka (Dozent) from Semmelweis University (Budapest, Hungary) and DPU and Prof. Dr. Wolfgang Birkfellner from Medical University of Vienna, Austria.\xa0The candidate will be employed at ACMIT and pursue a PhD at Medical University of Vienna (which is the scientific partner of this project). In addition, Semmelweis University clinic, Budapest, Hungry\xa0will serve as clinical partner and provide medical imaging data used in this project.\n\nThe goal of the PhD project is to develop advanced AI methods to help treatment decision making for pediatric patients with osteosarcoma. Medical imaging data at different stage of the treatment process will be used to help development of AI techniques to support treatment outcome.\n\nYour ideal profile:\n• Master's degree in Biomedical Engineering, Computer Vision or related fields\n• Background in medical image analysis/processing\n• Background in AI algorithm development, traditional machine learning and deep learning\n• Programming skills (particularity Python and MATLAB)\n\n\nThe PhD shall start in March-April 2024. The PhD candidate will be employed for 30 hours per week according to the FWF salary.We look forward to receiving your detailed application, which you should send Ass.-Prof. Dr. Sepideh Hatamikia\n",
 {'type': 'email', 'text': 'sepideh.hatamikia@dp-uni.ac.at'},
 ' or\n',
 {'type': 'email', 'text': 'sepideh.hatamikia@acmit.at'},
 '.\n\n🏛 آذراپلای: مرجع تحصیل در خارج\n\n🌐 ',
 {'type': 'link', 'text': 'AzarApply.ir'},
 '\n\n🆔 ',
 {'type': 'mention', 'text': '@AzarApply'},
 '']

In [373]:
'PhD' in df['text'][8642][0]

True

In [230]:
positions = []
x = []
for msg in df['text']:
    try:
        if 'Position' in msg[0]:
            # print(msg)
            # print(pd.Series(msg))
            positions.append(msg)
            # print(positions)
    except:
        x.append(msg)

In [231]:
len(positions)

1569

In [232]:
len(x)

252

In [233]:
positions = pd.DataFrame(positions)

In [195]:
positions['emails'] = positions[1]

In [210]:
emails = pd.DataFrame([*positions['emails']])

In [211]:
emails

         type                                               text href
0     hashtag                                       #آموزش_اپلای  NaN
1     hashtag                                       #آموزش_اپلای  NaN
2       email                                  yiwang@cec.sc.edu  NaN
3     hashtag                                            #مکانیک  NaN
4     hashtag                                          #کامپیوتر  NaN
...       ...                                                ...  ...
1564    email                     sepideh.hatamikia@dp-uni.ac.at  NaN
1565    email                              asadeghkhani@ncat.edu  NaN
1566     link                           https://lnkd.in/g7_zR-23  NaN
1567     bold               Organic/Organometallic Chemistry\n\n  NaN
1568     link  https://azarapply.ir/blog/%D9%BE%D9%88%D8%B2%D...  NaN

[1569 rows x 3 columns]

In [213]:
emails = emails[emails['type'] == 'email']

In [215]:
emails

       type                            text href
2     email               yiwang@cec.sc.edu  NaN
9     email      berrak.sisman@utdallas.edu  NaN
13    email          mzeinali@laurentian.ca  NaN
16    email                  huilin@uri.edu  NaN
21    email  charlene.boumendil@igh.cnrs.fr  NaN
...     ...                             ...  ...
1525  email               samori@unistra.fr  NaN
1553  email                mtaheri@tamu.edu  NaN
1555  email               mabdalah@ieee.org  NaN
1564  email  sepideh.hatamikia@dp-uni.ac.at  NaN
1565  email           asadeghkhani@ncat.edu  NaN

[254 rows x 3 columns]

In [235]:
positions = positions[0]

In [237]:
positions = pd.DataFrame(positions)

In [239]:
positions['positions'] = positions[0]

In [244]:
del positions[0]

In [246]:
positions = positions[2:]

In [260]:
positions = positions.assign(emails=emails['text'])

In [266]:
positions.to_csv('./positions.csv', sep=',', index=False, encoding='utf-8')

In [359]:
def scraping(series):
    result = {
        'PhD': [],
        'Postdoctoral': [],
        'Master': [],
        'Germany': [],
        'Canada': [],
        'Australia': [],
        'USA': [],
        'Switzerland': [],
    }
    for item in series:
        for key in result:
            if key in item:
                result[key].append(item)
    return result

In [360]:
scrp = scraping(positions['positions'])

In [361]:
scrap = pd.DataFrame(scrp['PhD'], columns=['PhD'])

In [362]:
for item in scrp:
    scrap[item] = pd.Series(scrp[item])

In [376]:
scrap.to_csv('./clean_data.csv', sep=',', index=False, encoding='utf-8')

In [377]:
scrap

,PhD,Postdoctoral,Master,Germany,Canada,Australia,USA,Switzerland
0,"🇨🇭 PhD Position, ETH Switzerland\n\n☑️",🇨🇦 Postdoctoral Research Fellow Pharmaceutical...,"🇺🇸 MSc Positions at the WATER RESOURCES LAB, ...","🇩🇪 Research Associate Position, University of ...","🇨🇦 PhD/PostDoc Positions, Laval University Can...","🇦🇺 PhD Positions, University of Technology Syd...","🇺🇸 Job Position, USA\n\n☑️ Power Electrical En...","🇨🇭 PhD Position, ETH Switzerland\n\n☑️"
1,🇺🇸 PhD Student Position in Eco-Immunology – Un...,🇺🇸 Postdoctoral Position at National Cancer In...,🇦🇪 Structural Control Research Associate Posit...,"🇩🇪 Research Associate Position, TU Dresden, Ge...","🇨🇦 PhD position, Laurentian University, Canada...","🇦🇺 PhD Positions, University of Sydney, Austra...","🇺🇸 Postdoc positions, Arizona State University...","🇨🇭Two PhD Positions in Dairy Nutrition, ETH, S..."
2,"🇺🇸 PhD Position, The University of Texas at Da...","🇨🇦 Postdoc Position, UBC, Canada\n\n☑️ Chemica...","🇺🇸 PhD/Master positions, Mississippi State Uni...","🇩🇪 PhD Position, Heidelberg University, German...","🇨🇦 PhD Position, University of Windsor, Canada...","🇬🇸 Postdoc Position, Monash University, Austra...","🇺🇸 PhD position, University of Rhode Island, U...","🇨🇭 PhD Position, University of Neuchâtel, Swit..."
3,"🇺🇸 PhD Position, Department of Civil and Envir...",🇨🇭Postdoctoral Position at EPFL: Nanophotonic ...,"🇺🇸 Funded Master position, Oregon State Univer...","🇩🇪 Ph.D. Positions---in Numerical Analysis, Te...","🇨🇦 MSc Position, University of Northern Britis...","🇭🇲 Fully Funded PhD Positions, Western Sydney ...","🇺🇸 PhD Position, Arkansas State University, US...","🇨🇭PhD Position, Department of Organic Chemistr..."
4,"🇨🇦 PhD/PostDoc Positions, Laval University Can...","🇺🇲 Postdoc Position, University of Louisville,...",🇨🇦 Postdoc and Graduate Students (Master’s and...,🇩🇪 PhD Position in microwave engineering at Un...,🇨🇦 PhD and MSc Positions on “Affective & Socia...,"🇭🇲 PhD Position, Edith Cowan University, Austr...","🇺🇸 PhD Positions, Penn State University, USA\n...","🇨🇭🇫🇷 PhD position, University of Fribourg, UBF..."
...,...,...,...,...,...,...,...,...
1227,"🇨🇦 PhD Position, University of British Columbi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,"🇺🇸 PhD Position, University of Tennessee at Ch...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"🇦🇹 PhD Position, Austrian Center for Medical I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,"🇺🇸 PhD Position, North Carolina A&T State Univ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,"🇦🇺 PhD Position, UNSW, Australia \n\n- Civil e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN